// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#canvas{
  width: 100vw;
  height: 100vh;
  position: absolute;;
  /*background-color: pink;*/
}

body{
  background-color: #000;
}
/*#start-button{
  width: 20px;
  height: 10px;
  background-color: red;
}*/
.playHead{
  background-color: red;
  transform: translate3d(-100%, 0, 0);
}
/*.count{
  position: absolute;
  height: 20px;
  background-color: green;
  width: 400px;
}*/
#blink1, #blink2, #blink3, #blink4{
  border-radius: 50%;
  border: 1px solid black;
  display: inline-block;
  width: 20px;
  height: 20px;
}
.container{
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}
.box{
  // transform: rotate(45deg);
  width: 45px;
  height: 45px;
  box-sizing: border-box;
  display: inline-block;
  border-collapse: collapse;
  border-radius: 0.2em;
}
#loop-1, #loop-2, #loop-3, #loop-4, #loop-5, #loop-6{
  width: 16.30%;
  height: 24.25%;
  background-color: #000;
}
#loop-7, #loop-8, #loop-9, #loop-10, #loop-11, #loop-12{
  width: 16.30%;
  height: 24.25%;
  background-color: #000;
}
#loop-13, #loop-14, #loop-15, #loop-16, #loop-17, #loop-18, #loop-19, #loop-20, #loop-21, #loop-22, #loop-23, #loop-24{
  width: 16.30%;
  height: 24.25%;
  background-color: #000;
}
#loop-1.clicked, #loop-2.clicked, #loop-3.clicked, #loop-4.clicked, #loop-5.clicked, #loop-6.clicked{
background-color: #FE487C !important;
}
#loop-7.clicked, #loop-8.clicked, #loop-9.clicked, #loop-10.clicked, #loop-11.clicked, #loop-12.clicked{
  background-color: #0014FF !important;

}
#loop-13.clicked, #loop-14.clicked, #loop-15.clicked, #loop-16.clicked, #loop-17.clicked, #loop-18.clicked, #loop-19.clicked, #loop-20.clicked, #loop-21.clicked, #loop-22.clicked, #loop-23.clicked, #loop-24.clicked{
  background-color: #FEFF50 !important;

}
