@import url(https://fonts.googleapis.com/css?family=Monoton);
@import url(https://fonts.googleapis.com/css?family=Audiowide);

.modal_container1 {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  background-color: #222222;
  background: repeating-linear-gradient(45deg, #2b2b2b 0%, #2b2b2b 10%, #222222 0%, #222222 50%) 0 / 15px 15px;
}
.modal_container2 {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  background-color: #222222;
  background: repeating-linear-gradient(45deg, #2b2b2b 0%, #2b2b2b 10%, #222222 0%, #222222 50%) 0 / 15px 15px;
}
.modal {
  background: #000;
  left: 0;
  right: 0;
  max-width: 100vw;
  min-height: 100vh;
  margin: auto;
  position: absolute;
}
.modal__title {
  text-align: center;
}
.modal__text {
  text-align: center;
}
.instruct{
  max-width: 50%;
  margin: 0 auto;
  padding-top: 10%;
  font-family: 'Audiowide', cursive;
  font-size: .2em;
  color: white;
}
p:nth-child(1) a {
  color: #F4DED4;
  font-family: 'Monoton', cursive;
}
#welcome {
  width: 100%;
  padding-top: 20%;
  margin: 0 auto;
}
#play {
  width: 100%;
  padding-top: 0;
  margin: 0 auto;
}

/* NEON */

p {
  color: #F4DED4;
  text-align: center;
  font-size: 7em;
  margin: 20px 0 20px 0;
}
a {
  text-decoration: none;
  transition: all 0.5s;
}
p:nth-child(1) a:hover {
  animation: neon6 1.5s ease-in-out infinite alternate;
}
p a:hover {
  color: #ffffff;
}
@keyframes neon6 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de, 0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de;
  }
}
@media (max-width: 650px) {
  #welcome {
    width: 100%;
  }
  p {
    font-size: 3.5em;
  }
}
